@charset "UTF-8";

header .logo{
	display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_1 h2{
	font-size: 36px;
    color: #fff;
	margin: 30px 0 0;
	border-bottom:1px solid #ccc;
	/* background-color: aqua; */
}

.inner_1 h2 span{
	font-size: 16px;
	padding: 0 0 0 20px;
}

.comment_area_1 .comment_line{
	width:100%;
	overflow: hidden;
    padding: 30px 0;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-webkit-flexbox;
	display:-moz-flexbox;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}

.comment_box{
	width:31%;
	float: left;
	margin:1.16666%;
	box-sizing: border-box;
	padding:2%;
	border:3px double rgba(107,95,81,1.00);
}

.comment_box_2{
	width:31%;
	float: left;
	margin:1.16666%;
	box-sizing: border-box;
	padding:2%;
	border:3px double rgba(107,95,81,1.00);
}

.comment_text{
	width:100%;
	font-size: 14px;
	line-height: 1.2em;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	color: #F2FF17;
}

.comment_name_1{
	width:100%;
	font-size: 21px;
	background: linear-gradient(to top, #f77062 0%, #fe5196 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 100%;
}

.comment_name_2{
	font-size: 18px;
	background: linear-gradient(to top, #f77062 0%, #fe5196 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width:100%;
}

.comment_area_1 .note{
	width:100%;
	font-size: 14px;
	text-align: right;
	padding-bottom: 10px;
	/* background-color: aqua; */
}

/* ---------------------------
    飾り付け
---------------------------*/

.item_1{
    /* ブラウザ左に固定 */
    position: fixed;
    left:-100px;
    top:100px;
	opacity: .5;
    z-index: 1;
}

/* ---------------------------
    アニメーション
---------------------------*/

.item_1{
	animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

	@keyframes zoomIn {
	0% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
		transform: translateX(80px);
	}
}

/* -----------------------------------------
  1024px以下の画面に向けた記述
----------------------------------------- */
@media screen and (max-width:1024px){
    
    /* ヘッダーロゴを削除 */
	header .logo{
		display: none;
	}

	.inner_1{
		padding: 0 10px;
		/* background-color: aqua; */
	}

	.item_1{
		display: none;
	}

}

/* -----------------------------------------
  768px以下の画面に向けた記述
----------------------------------------- */
@media screen and (max-width:768px){
	
	.comment_box_2{
		display: none;
	}

	.comment_box{
		width:100%;
		float: none;
		margin:0%;
		padding:5%;
		margin-bottom: 30px;
	}

	.comment_text{
		margin-bottom: 10px;
	}

	.comment_name_2{
		font-size: 18px;
	}

	.comment_name_2{
		font-size: 16px;
	}

	.comment_area_1 .note{
		font-size: 12px;
	}
}