@charset "utf-8";

.bio-img img{
	width: 100%;
	max-width: 20vw;
	margin-bottom: 0.5rem;
}

.bio-text h3{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.bio-text .Romaji{
	font-weight: bold;
	display: block;
	margin-bottom: 1rem;
}

.bio-text p{
	text-align: justify;
}

.bio-text p span{
	display: block;
}

@media screen and (max-width:768px){

.bio-img img{
	max-width: 60vw;
	margin-bottom: 0.5rem;
}

.bio-text p span{
	display: inline;
}

}