@charset "utf-8";

/* 大見出し */
h2{
    padding: 72px 0 72px 70px;
    width: 100%;
    font-size: 60px;
    line-height: 1;
    text-shadow: 0 5px 7px #000;
    background: url(../images/choco_shop_heading_1280x480.png) center right / 60% no-repeat;
}

h2 span{
    display: block;
    font-size: 36px;
    margin-left: 150px;
}

/* メインコンテンツ */
/* ストーリー */
img{
    width: 100%;
    height: auto;
}

h3{
    font-size: 30px;
    padding-top: 90px;
    padding-bottom: 50px;
    text-align: center;
}

.story-text{
    max-width: 500px;
    width: 100%;
    text-align: justify;
}

.story-area section{
    padding-bottom: 50px;
}

.story-area section p{
    padding-bottom: 20px;
}

.sec01 > div{
    gap: 20px;
}

.sec02 h3{
    text-align: right;
}

.sec02 .story-text{
    margin: 0 auto;
}

.img01{
    max-width: 300px;
    margin-bottom: 30px;
}

.img02{
    max-width: 400px;
    margin-top: -80px;
}

.img03,.img04{
    max-width: 500px;
    margin-bottom: 20px;
}

.img04{
    display: block;
    margin-left: auto;
}

/* 下層へのリンクエリア */
.to-sub-area{
    margin-bottom: 100px;
    gap: 20px;
}

.to-sub-area li a{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 300px;
    flex: 0 0 300px;
}

.to-sub-area li:nth-child(1){
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/choco_top_image_01_700x600.jpg) center center / cover no-repeat;
}

.to-sub-area li:nth-child(2){
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/choco_top_image_02_700x600.jpg) center center / cover no-repeat;
}

.to-sub-area li:nth-child(3){
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/choco_top_image_03_700x600.png) center center / cover no-repeat;
}

.to-sub-area li a p:nth-child(1){
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.to-sub-area li a p:nth-child(2){
    max-width: 300px;
}

.to-sub-area li .button3{
    margin-left: 20px;
}

.to-sub-area li .button3{
    width: 230px;
}

.to-sub-area li .button3::after{
    width: 250px;
}

.to-sub-area li a:hover{
    text-shadow: 0 0 7px #fff;
}

.to-sub-area li a:hover .button3::after{
    animation: arrow-anim 0.7s ease forwards;
}


@keyframes arrow-anim {
    0% {width: 0;}
    100% {width: 250px;}
}



/* ------------------------
    レスポンシブ
------------------------ */

@media screen and (max-width:1200px){
    h2{
        background-size: contain;
    }
}

@media screen and (max-width:1090px){
    .to-sub-area{
        flex-direction: column;
    }
    .to-sub-area li a p:nth-child(2){
        max-width: none;
    }
}

@media screen and (max-width:900px){
    .img02{
        margin-top: 0;
    }

    h2 span{
        margin-left: 70px;
    }

    
}

@media screen and (max-width:768px){
    .sec01 div.flex{
        display: block;
    }

    .img01{
        display: block;
        margin-left: auto;
    }

    h2{
        background-size: cover;
        padding-left: 30px;
        height: 240px;
        font-size: 40px;
    }

    h2 span{
        font-size: 22px;
    }

    
}

@media screen and (max-width:630px){
    .sec01 h3,.sec02 h3{
        text-align: left;
        font-size: 24px;
    }

    h2 span{
        margin-left: 0;
    }
}
