@charset "UTF-8";

/* お知らせ
---------------------------------------------*/
.top_news {
	margin: 40px 0;
	padding: 20px 0;
	background: #fefefe;
	border: 5px solid #e2f0d9;
	box-shadow: 0 2px 2px 0 rgba(226, 240, 217, .75);
	border-radius: 10px;
}
.top_news dl {
	padding: 0 20px;
	margin: 0 4.2%;
	border-top: 3px solid #79bd9a;
}
.top_news dl dt {
	float: left;
	width: 6em;
	position: absolute;
	padding: 20px 0;
}
.top_news dl dd {
	padding: 20px 0 20px 7.5em;
	border-bottom: 3px dotted #e2f0d9;
}
.top_news dl dd a:hover {
	color: #79bd9a;
}

/* ごあいさつ
---------------------------------------------*/
.top_greeting {
	background: #fffdf2;
	padding: 40px 0;
}
.greeting_left {
	float: left;
	width: 46%;
	padding: 20px 0;
}
.greeting_right {
	float: right;
	width: 50%;
	padding: 20px 0;
	text-align: center;
}
.greeting_copy {
	font-size: 2.1rem;
	margin-bottom: 40px;
}
.greeting_copy span { 
	background: linear-gradient(transparent 50%, #FFF5C3 50%);
}
.doctor_name {
	margin-top: 40px;
	font-size: 1.8rem;
}
.doctor_name span {
	font-size: 2.4rem;
	padding-left: 1rem;
}
.top_greeting .top_btn {
	clear: both;
}
/* こばやし小児科の特徴
---------------------------------------------*/
.top_about {
	padding: 40px 0;
}
.top_about ul {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}
.about_card {
	position: relative;
	border-radius: 10px;
	width: 90%;
	max-width: 260px;
	border-radius: 10px;
	padding: 20px 2%;
	background: #e2f0d9;
}
.about_card+.about_card {
	margin-left: 1%;
}
.about_card a {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.about_card:hover {
	background: #eff7ea;
	transition: 0.2s ;
}
.about_card_img {
	padding-bottom: 20px;
	position: relative;
}
.about_card_img span {
	position: absolute;
	top: 70%;
	left: 82%;
	font-family: 'Great Vibes', cursive;
	font-weight: bold;
	font-size: 4.8rem;
	color: #5b876d;
}
.about_card_copy {
	font-size: 1.8rem;
	padding-bottom: 20px;
}
.about_card_icon {
	display: none;
}
/* 診療科のご案内
---------------------------------------------*/
.top_diagnosis {
	padding: 40px 0;
    background-color: #fffbe4;
    background-image:
    repeating-linear-gradient(-45deg, #fff, #fff 5px, transparent 0, transparent 12px);
}
.top_diagnosis ul {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.top_diagnosis ul li {
	width: 143px;
	margin-top: 10px;
}
.top_diagnosis ul li+li {
	margin-left: 3%;
}
.top_diagnosis ul li a {
	background: #fff;
	display: block;
	border-radius: 80px;
	padding: 24.5px 0px;
	font-size: 1.4rem;
}
.top_diagnosis ul li a:hover {
	background: #FFF5C3;
	transition: 0.2s ;
}
/* レスポンシブ設定
---------------------------------------------*/
/* 855px以下 */
@media screen and (max-width: 856px) {
	/* greeting
	-----------------------------------------*/
	.top_greeting .top_btn {
		margin-top: -3%;
	}
}
/* 766px以下 */
@media screen and (max-width: 767px) {
	/* お知らせ
	-----------------------------------------*/
	.top_news {
		margin-top: 30px;
	}
	.top_news dl {
		padding: 0;
		font-size: 1.4rem;
	}
	.top_news dl dt {
		padding: 15px 0;
	}
	.top_news dl dd {
		padding: 15px 0 15px 7.5em;
	}

	/* ごあいさつ
	-----------------------------------------*/
	.greeting_left {
		float: none;
		width: 94%;
		padding: 20px 3%;
	}
	.greeting_right {
		width: 70%;
		padding-top: 0;
	}
	.greeting_copy {
		font-size: 1.6rem;
		text-align: center;
		margin-bottom: 25px;
	}
	.greeting_copy span { 
		border-bottom: 5px solid rgba(255, 245, 195, 0.8);
	}
	.doctor_name {
		font-size: 1.6rem;
	}
	.doctor_name span {
		font-size: 1.8rem;
	}
	.top_greeting .top_btn {
		float: none;
	}
	/* こばやし小児科の特徴
	-----------------------------------------*/
	.top_about ul {
		display: block;
	}
	.about_card {
		display: flex;
		padding: 0 0 0 15px;
		max-width: 285px;
		margin: 0 auto 20px;
		width: 100%;
	}
	.about_card+.about_card {
		margin-left: auto;
	}
	.about_card_img {
		display: none;
	}
	.about_card_copy {
		padding: 15px 0;
		width: 80%;
		font-size: 1.6rem;
	}
	.about_card_icon {
		display: block;
		background: #79bd9a;
		width: 10%;
		padding: 15px;
		border-radius: 0 10px 10px 0;
		font-size: 3.6rem;
		text-align: center;
	}
	.about_card_icon img{
		vertical-align: middle;
	}
	.about_card:hover .about_card_icon { 
		background: #bae0cb;
		transition: 0.2s ;
	}
	.about_card_text {
		display: none;
	}
	.about_card_img span {
		display: none;
	}
}