@charset "UTF-8";


.reserve_detail {
	max-width: 550px;
	margin: 40px auto;
	width: 90%;
	padding: 0 5%;
}
/* 診察状況
---------------------------------------------*/
.status {
	background: #e2f0d9;
	border-radius: 10px;
	margin: 20px auto;
	padding: 20px 20%;
}
.count {
	font-weight: bold;
}
/* 新規登録、WEB予約
---------------------------------------------*/
.reserve_type::before{
	content: "";
    width:  15px;
    height:  15px;
    display:  inline-block;
    background-color: #79bd9a;
    border-radius:  50%;
	position:  relative;
    top: 1px;
    margin-right: 5px;
}
.reserve_text {
	max-width: 530px;
	padding-left: 20px;
	margin-bottom: 20px;
}
/* ボタン */
.reserve_detail .footer_btn {
	max-width: 350px;
	margin: 0 auto 30px;
}
.tel_num {
	text-decoration: underline;
}

.tel_num:hover {
	color: #79bd9a;
}
.beginner {
	padding-right: 0.5em;
	padding-bottom: 2px;
	width: 1em;
}
/* レスポンシブ設定
---------------------------------------------*/
/* 766px以下 */
@media screen and (max-width: 767px) {
	/* 新規登録、WEB予約
	-----------------------------------------*/
	/* ボタン */
	.reserve_detail .footer_btn {
		max-width: 200px;
	}
}
/* 538px以下 */
@media screen and (max-width: 539px) {
	/* 診察状況
	-----------------------------------------*/
	.status {
		padding: 20px 4.5%;
	}
	.status p {
		font-size: 1.4rem;
	}
}